<h1><%= @user.name %></h1>

<h3>All Recipes</h3>
<table>
    <tr>
        <th>Recipes</th>
    </tr>
    <% @user.dishes.each do |dish| %>
    <tr>
        <td><%= dish.name %></td>
    </tr>
    <% end %>
</table>

<h3>Allergies!</h3>
<table>
    <tr>
        <th>Allergy</th>
    </tr>
    <% @user.ingredients.each do |ing| %>
    <tr>
        <td><%= ing.name %></td>
    </tr>
    <% end %>
</table><br>

<%= link_to "New allergy", edit_user_path %>