<h1>Add Ingredients</h1>

<%= form_tag post_ingredient_path do %>

  <label>Ingredient:</label><br>
  <%= collection_select :dish, :ingredient_id, Ingredient.all, :id, :name %><br>

  <label>quantity:</label><br>
  <%= number_field :dish, :ingredient_quantity %>
  <input type="submit" value="Update Ingredients">
<% end %>
